body {
  margin: 0;
  /* background-image: url(Images/world.png); */
  background-color: #fcfcfc;
  background-attachment: absolute;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.star {
  display: inline-block;
  margin-left: 0.5rem;
}

.star-enter {
  opacity: 0.01;
}

.star-enter-active {
  opacity: 1;
  transition: all 600ms ease-out;
}

.star-exit {
  opacity: 1;
}

.star-exit-active {
  opacity: 0;
  transition: all 3000ms ease-in;
}
